*{
    box-sizing: border-box;
}

#log-out-user{
    display: none;
    margin-bottom: 30px;
}

.main{
    display: none;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}

.main > h2{
    margin: 0px;
}

.slider__prev, .slider__next{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    top: 4em;
    cursor: pointer;
}

.slider__prev{
    right: 1em;
}

.slider__next{
    left: 14em;
}

table, th, td {
    border: 1px solid black;
}

p{
    margin: 0px;
}

#save-data{
    padding: 8px 12px;
    margin-top: 30px;
}